{% extends 'indexv2.html'%}
{% load static%}
{% block body%}
{%endblock%}
{%block owlslider%}
{% endblock%}
{% block about%}
{% endblock%}
{% block section%}

<section class="section-stories">
    <div class="u-center-text u-margin-big">
        <h2 class="heading-secondary">we make people genuely </h2>
    </div>
    <div class="row">
        <div class="story">
            <figure class="story__shape">
                <img  class="story__img" src="{%static 'img/nat-8.jpg'%}">
                 <figcaption class="story__caption">
                     MABNA 
                 </figcaption>
            </figure>
            <div class="story__text">
                <h3 class="heading-tertiary .u-margin-bottom-small ">
                    head the best week
                </h3>
                <p></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}}