{% extends 'indexv2.html'%}
{% load static %}


{% block postmabna%}
<br><br><br><br><br><br>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
<div class="html">
<div class="blog-post">
    <div class="blog-post__img">
     <img src="{% static 'img/nat-7.jpg' %}" alt="post">
    </div>
                                                                                                                                                                                    
    <div class="blog-post__info">                                                                                                                                                                                                                                                                                                                           
        <div class="blog-post__data">
        <span>Sunday</span>
        <span>octoper 27 2020</span>
    </div>
   
    <h1 class="blog-post__title">mabna holding</h1>
    <p class="blog-post__text">In this video tutorial you will learn how to build a beautiful responsive news blog post card using html and css. We will be using many properties including flexbox to achieve our layout. You will also learn how to use media queries to make the card adapt to any screen size.

        Don't forget to leave a thumbs up if you found the video useful. Also, click on the bell icon to turn on
    </p>
    <a href="#" class="blog-post__cta">Read More</a>
    
</div>
</div>


</div>
</div>
{% endblock %}
{% block about%}
{%endblock%}