{% extends 'indexv2.html' %}






<div class="contactus">
    {% block text-contant %}

    <div id="cbb">   <h1>Contact Us</h1>

    </div>


     
</div>
{% endblock%}


<div class="contanier">
    {% block contactus %}

<div class=row>

    <div class="col-md-1">

    </div>
    <div class="col-md-6">
        <form action="">
            <br><br><br>
            <input type="text" title="your name " class="name" class="from-control" placeholder="الاسم">
            <br><br>
            <input type="email" title="Email Address" class="mail" class="from-control" placeholder="الإيميل الخاص بك " style="width: 47%;">
            <input type="number" title="Number" required class="mail" class="from-control"  placeholder="+996" style="width: 50%;">
             <br>
             <br>
             <input type="text" placeholder="Message" class="message" title="Message" class="from-control">
             <br>
             <br>
             <button type="submit" class="bttn" title="Submit" class="from-control" value="Submit">إرسل

             </button>
             <br>
             <br>

        </form>
        </div>


        <div class="col-md-5" class="responsive">

        <br>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3632.5515691063556!2d39.63255559999999!3d24.4316418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15bdbf798e53b225%3A0x497e0e55c4951c4b!2z2LTYsdmD2Kkg2YXYqNmG2Ykg2KfZhNmC2KfYqNi22Kk!5e0!3m2!1sar!2ssa!4v1586787914197!5m2!1sar!2ssa" width="95%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        

         </div>

</div>

</div>
{% block owlslider %}
{%endblock%}
{% endblock%}
