@import "functions";
@import "variables";
@import "mixins";
@import "home";
@import "grid";

@import "base";
@import "typography";
@import "animation";
@import "utilities";
body {
    background: green($color: #000000);
    .container-fluid {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: white;
        p {
            padding: 20px;
            background: pink;
        }
       
    }
}
$color:red;

