{% extends 'mabna_en/index.html' %}






 


{% block tours %}
<section class="section-tours">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            document all projects 
        </h2>
    </div>

  <div class="row">

    <div class="col-md-4 pt-3">
        <div class="card ">
            <div class="card__side card__side--front ">front 
            <div class="card__picture card__picture--1">&nbsp; imges</div>
             <div class="card__heading">
                 heading
             </div>

             <div class="card__details">
                 details
             </div>
            </div>

        <div class="card__side card__side--back card__side--back-1">back </div>
    </div>
    </div>

    <div class="col-md-4 pt-3">
        <div class="card ">
            <div class="card__side card__side--front card__side--front-1">front </div>
        <div class="card__side card__side--back card__side--back-1">back </div>
    </div>

    </div>

    <div class="col-md-4 pt-3">
        <div class="card ">
            <div class="card__side card__side--front card__side--front-1">front </div>
        
        <div class="card__side card__side--back card__side--back-1">back </div>
    </div>

    </div>
</section>

{% block countacus %}
{%endblock%}
{%endblock%}

{% block our%}
{%endblock %}
{% block slider %}
{%endblock%}
{%block projects%}
{%endblock %}
{%block service%}

{%endblock %}


