{% extends 'mabna_en/index.html'%}
    <!-- END header -->
    {% block countacus %}

    <section class="inner-page">
      <div class="slider-item  py-5" style="background-image: url('/static/img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1 class="text-white">Contact Us</h1>
            </div>
          </div>
        </div>

      </div>
    </section>

    
    <section class="bk">
      <div class="container">
        <div class="row">
          <div class="col-md-7">

            <div class=row>
            
              
                    <form action="">
                        <br><br><br>
                        <input type="text" title="your name " class="name" class="from-control" placeholder="Name">
                        <br><br>
                        <input type="email" title="Email Address" class="mail" class="from-control" placeholder=" your email " style="width: 47%;">
                        <input type="number" title="Number" required class="mail" class="from-control"  placeholder="+996" style="width: 50%;">
                         <br>
                         <br>
                         <input type="text" placeholder="Message" class="message" title="Message" class="from-control">
                         <br>
                         <br>
                         <button type="submit" class="bttn" title="Submit" class="from-control" value="Submit">submit
            
                         </button>
                         <br>
                         <br>
            
                    </form>
                    </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <h5 class="text-uppercase mt-5 mb-3">Address</h5>
            <p class="mb-5">Mabna Holding  <br> ,Medina<br> ,Saudi</p>
            
            <h5 class="text-uppercase mb-3">Email Us At</h5>
            <p class="mb-5"><a href="info@mabna.iz">info@mabna.iz</a> <br></p>
            
            <h5 class="text-uppercase mb-3">Call Us</h5>
            <p class="mb-7"> Mobile:(+966) 507975550 </p>
          </div>
        </div>
      </div>
    </section>
    

      <br>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3632.5515691063556!2d39.63255559999999!3d24.4316418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15bdbf798e53b225%3A0x497e0e55c4951c4b!2z2LTYsdmD2Kkg2YXYqNmG2Ykg2KfZhNmC2KfYqNi22Kk!5e0!3m2!1sar!2ssa!4v1586787914197!5m2!1sar!2ssa" width="95%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      

    
    {% endblock %}
    
   
  
  </body>

  {% block our%}
  {%endblock %}
  {% block slider %}
{%endblock%}
{%block projects%}
{%endblock %}
{%block service%}

{%endblock %}


  {%block footer%}

  {%endblock %}
</html>